* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(180deg, #000000 -169.32%, #36373d 100%);
	color: white;
	font-family: 'Gilroy';
}

.hidden {
	display: none;
}

$orange: #ea5634;
$orangeGradient: linear-gradient(225.07deg, #ea5634 -32.12%, #36373d 136.94%);
$grey: #36373d;

@font-face {
	font-family: 'Drunk Wide';
	src: url('../fonts/Drunk/DrukWide-Medium.ttf');
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Radomir/Tinkov/-/Gilroy-light.otf');
}

.heading--large,
.heading--medium {
	font-family: 'Drunk Wide';
}
